# DATABASE CONFIGRATION
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# SERVER CONFIGURATION
PROJECT_NAME=
PROJECT_VERSION=
APP_PORT=
PROJECT_ROOT_PATH=
PROJECT_ENVIRONMENT=
UPLOAD_DIR=
LOG_FILE=

# Extra Settings
APP_TIMEZONE=
SQL_LOG=
PRICEBOOK_URL=
TAX=
TAX_TYPE=
MARGIN_THRESHOLD=

#JWT CONFIGURATION
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
ENCRYPTION_KEY=


